@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";
@import "fumadocs-twoslash/twoslash.css";

@import "@repo/design-system/styles/globals.css";

:root {
  --fd-layout-width: 100vw;
}

.prose :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  font-size: 14px;
}

g.main:has(> g.plot) > rect {
  display: none;
}

video {
  border-radius: 40px;
}
